<div [formGroup]="form" class="my-4">
  @if (cargandoData && !allPosicionJugador) {
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
    </div>
  } @else {
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="date-input-container col-span-12 md:col-span-6 lg:col-span-4">
        <ion-item
          [ngClass]="{
            'custom-date-item': true
          }"
          class="custom-date-item"
          lines="none"
        >
          <ion-label>Cuando empezaste a jugar</ion-label>
          <ion-datetime-button datetime="datetimeFC" backdropDismiss="false" ></ion-datetime-button><br>
        </ion-item>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <!-- El ion-item envuelve y da el estilo de tarjeta y padding -->
        <ion-item
            class="border border-gray-300 rounded-xl overflow-hidden shadow-md bg-white p-0"
            lines="none"
        >
          <!-- Título/Label principal a la izquierda -->
          <ion-label class="text-base text-gray-700">Mano de Juego?</ion-label>

          <!-- Contenedor del Toggle a la derecha (slot="end") -->
          <div slot="end" class="flex items-center gap-2 p-1">

            <!-- Etiqueta Izquierda (sin formControlName) -->
            <span class="text-sm font-medium text-gray-500">Izquierda</span>

            <!-- EL formControlName DEBE IR EN EL ION-TOGGLE -->
            <ion-toggle
              [formControlName]="'manoJuego'"
              mode="md"
              justify="start"
              class="scale-90"
            ></ion-toggle>

            <!-- Etiqueta Derecha (sin formControlName) -->
            <span class="text-sm font-medium text-gray-700">Derecha</span>
          </div>
        </ion-item>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="selects-search-validation-container">
          <ion-list class="no-border-list">
            <ion-item [button]="true" [detail]="false" (click)="openPosicionUnoModal()" class="no-border-list" id="select-posicion-juego-uno" lines="none">
              <ion-label>Posición Juego Uno</ion-label>
              <div slot="end" id="selected-posicion-juego-uno">{{ selectedPosicionUnoNombre }}</div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="selects-search-validation-container">
          <ion-list class="no-border-list">
            <ion-item [button]="true" [detail]="false" (click)="openPosicionDosModal()" class="no-border-list" id="select-posicion-juego-dos" lines="none">
              <ion-label>Posición Juego Dos</ion-label>
              <div slot="end" id="selected-posicion-juego-dos">{{ selectedPosicionDosNombre }}</div>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <!-- El ion-item envuelve y da el estilo de tarjeta y padding -->
        <ion-item
            class="border border-gray-300 rounded-xl overflow-hidden shadow-md bg-white p-0"
            lines="none"
        >
          <!-- Título/Label principal a la izquierda -->
          <ion-label class="text-base text-gray-700">Clavas?</ion-label>

          <!-- Contenedor del Toggle a la derecha (slot="end") -->
          <div slot="end" class="flex items-center gap-2 p-1">

            <!-- Etiqueta Izquierda (sin formControlName) -->
            <span class="text-sm font-medium text-gray-500">Nel</span>

            <!-- EL formControlName DEBE IR EN EL ION-TOGGLE -->
            <ion-toggle
              [formControlName]="'clavas'"
              mode="md"
              justify="start"
              class="scale-90"
            ></ion-toggle>

            <!-- Etiqueta Derecha (sin formControlName) -->
            <span class="text-sm font-medium text-gray-700">Simon</span>
          </div>
        </ion-item>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ion-input
          label="Pts promedio por juego"
          inputId="on_label_pts_prom_juego"
          formControlName='puntosPorJuego'
          autocomplete="off"
          type="number"
          placeholder="Ej: 185"
          label-placement="floating"
          fill="outline"
        >
          <span slot="end" class="text-gray-500"> pts</span>
        </ion-input>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ion-input
          label="Asist. promedio por juego"
          inputId="on_label_asist_prom_juego"
          formControlName='asistenciasPorJuego'
          autocomplete="off"
          type="number"
          placeholder="Ej: 185"
          label-placement="floating"
          fill="outline"
        >
          <span slot="end" class="text-gray-500"> asist</span>
        </ion-input>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ion-input
          label="Reb. promedio por juego"
          inputId="on_label_reb_prom_juego"
          formControlName='rebotesPorJuego'
          autocomplete="off"
          type="number"
          placeholder="Ej: 185"
          label-placement="floating"
          fill="outline"
        >
          <span slot="end" class="text-gray-500"> rebote</span>
        </ion-input>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ion-input
          label="Porcentaje de tiro de media"
          inputId="on_label_reb_prom_juego"
          formControlName='porcentajeTirosMedia'
          autocomplete="off"
          type="number"
          placeholder="Ej: 185"
          label-placement="floating"
          fill="outline"
        >
          <span slot="end" class="text-gray-500"> %</span>
        </ion-input>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ion-input
          label="Porcentaje de tiro de tres"
          inputId="on_label_reb_prom_juego"
          formControlName='porcentajeTirosTres'
          autocomplete="off"
          type="number"
          placeholder="Ej: 185"
          label-placement="floating"
          fill="outline"
        >
          <span slot="end" class="text-gray-500"> %</span>
        </ion-input>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <ion-input
          label="Porcentaje de tiro libre"
          inputId="on_label_reb_prom_juego"
          formControlName='porcentajeTirosLibres'
          autocomplete="off"
          type="number"
          placeholder="Ej: 185"
          label-placement="floating"
          fill="outline"
        >
          <span slot="end" class="text-gray-500"> %</span>
        </ion-input>
      </div>
    </div>
  }
</div>

<ion-modal [keepContentsMounted]="true" backdropDismiss="false">
  <ng-template>
    <ion-datetime
      #datetimeFC
      id="datetimeFC"
      [max]="hoyFormatoISO"
      presentation="year"
      showDefaultButtons="true"
      doneText="Confirmar"
      cancelText="Cancelar"
      (ionChange)="onChangeCalendar($event)"
      (ionBlur)="onClosesCalendar('blur')"
      (ionCancel)="onClosesCalendar('cancel')"
      >
      <span slot="title">Selecciona desde cuando juegas</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="false" #modalPosicionUno cssClass="custom-modal-selects-search" backdropDismiss="false">
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Posiciones"
      [items]="allPosicionJugador!"
      [selectedItem]="selectedPosicionUnoId"
      (selectionChange)="posicionUnoSelectionChanged($event)"
      (selectionCancel)="posicionUnoCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="false" #modalPosicionDos cssClass="custom-modal-selects-search" backdropDismiss="false">
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Posiciones"
      [items]="allPosicionJugador!"
      [selectedItem]="selectedPosicionDosId"
      (selectionChange)="posicionDosSelectionChanged($event)"
      (selectionCancel)="posicionDosCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>
