<div class="flex justify-center my-4">
  <app-tooltip-info title="💬 ¿Tienes dudas? ¡Presióname!">
    <ion-icon class="animate-bounce text-5xl" name="information-circle-outline"></ion-icon>
  </app-tooltip-info>
</div>
<form class="my-4" [formGroup]="formularioPrincipal" (submit)="onSubmit()">
  <app-responsive-tabs [tabLabels]="tabs" (tabChange)="onTabChange($event)" >
    <ng-template #tab>
      <app-jugador-perfil [form]="perfil" [cargandoData]="cargandoData" [allEstatusJugador]="estatusJugadorCatalogo || []" ></app-jugador-perfil>
    </ng-template>

    <ng-template #tab>
      <app-jugador-fuerza-resistencia [form]="fuerzaResistencia" [cargandoData]="cargandoData"></app-jugador-fuerza-resistencia>
    </ng-template>

    <ng-template #tab>
      <app-jugador-basketball [form]="basketball" [cargandoData]="cargandoData" [allPosicionJugador]="posicionJugadorCatalogo || undefined" ></app-jugador-basketball>
    </ng-template>

    <ng-template #tab>
      <app-jugador-experiencia [form]="experiencia" [cargandoData]="cargandoData"></app-jugador-experiencia>
    </ng-template>

    <ng-template #tab>
      <app-jugador-vision [form]="vision" [cargandoData]="cargandoData"></app-jugador-vision>
    </ng-template>

    <ng-template #tab>
      <app-jugador-test></app-jugador-test>
    </ng-template>

    <ng-template #tab>
      <app-jugador-videos [form]="videos" [cargandoData]="cargandoData"></app-jugador-videos>
    </ng-template>

    <ng-template #tab>
      <app-jugador-redes-sociales [form]="redes" [cargandoData]="cargandoData"></app-jugador-redes-sociales>
    </ng-template>

  </app-responsive-tabs>
  <div class="flex justify-end mx-2 my-4">
    <div class="flex align-center justify-center">
      @if (cargandoData) {
        <app-skeleton style="width: 5rem; height: 2.5rem;"></app-skeleton>
      } @else {
        <ion-button class="w-full" type="submit" [style]="{'--background': '#f47621', '--border-color': '#f47621'}">
          Guardar
        </ion-button>
      }
    </div>
  </div>
</form>
