<div class="mb-4">
  <app-news-bar></app-news-bar>
</div>

@if (isMobileView) {

  <ion-searchbar class="mb-2" style="padding-inline: unset;" placeholder="Busca talento..." (ionInput)="onSearchChange($event)" [debounce]="1000" show-clear-button="always" clear-icon="trash-bin"></ion-searchbar>

  @for (jugador of allListadoJugadoresParcial; track $index) {

    <ion-card class="mb-3 capitalize">
      <ion-card-header class="m-4">
        <div class="flex justify-between w-full">
          <div class="flex flex-row">
            <ion-avatar slot="start" class="jugador-avatar">
              <img [src]="jugador.fotoPerfil || 'assets/images/generales/sin-foto.png'" alt="Foto de Perfil" />
            </ion-avatar>
            <ion-card-title class="pl-2">
              {{ `${jugador.nombre} ` }} <strong>{{ `${jugador.alias} ` }}</strong><br>{{ `${jugador.aPaterno} ${jugador.aMaterno}` }} <br>
              <span class="text-xs">{{ `${jugador.sexo}`}}</span> <br>
              <span class="text-xs">{{ `${jugador.municipio}, ${jugador.estado}`}}</span>
            </ion-card-title>
          </div>
            @if (jugador.interesado) {
              <ion-icon class="text-2xl hover:cursor-pointer" (click)="actualizaPerfilFavorito(jugador.informacionPersonalId, jugador)" name="star"></ion-icon>
            } @else {
              <ion-icon class="text-2xl hover:cursor-pointer" (click)="actualizaPerfilFavorito(jugador.informacionPersonalId, jugador)" name="star-outline"></ion-icon>
            }
            <ion-icon class="text-2xl hover:cursor-pointer" (click)="redirectPerfil(jugador.informacionPersonalId)" name="arrow-forward-outline"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="grid grid-cols-12 gap-1 mb-4">
          <div class="col-span-3">
            <strong>Posición</strong>
            <br>
            {{ `${jugador.posicionJuegoUno} | ${jugador.posicionJuegoDos}` }}
          </div>
          <div class="col-span-3">
            <strong>Altura</strong>
            <br>
            {{ `${jugador.altura} mts` }}
          </div>
          <div class="col-span-3">
            <strong>Peso</strong>
            <br>
            {{ `${jugador.peso} kg` }}
          </div>
          <div class="col-span-3">
            <strong>Estatus</strong>
            <br>
            <ion-chip class="p-1" color="success">{{ `${jugador.estatus}` }}</ion-chip>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  }

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content loadingText="Cargando talento..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

} @else {
  <div class="grid grid-cols-12 gap-x-4 content-end mb-6">

    <!-- Searchbar -->
    <div class="col-span-6 content-end">
      <ion-searchbar
        class="search-bar-custom"
        style="padding-inline: unset; padding-top: unset; padding-bottom: unset;"
        placeholder="Busca talento..."
        (ionClear)="onResetSeacrh($event)"
        (ionInput)="onDesktopSearch($event)"
        [debounce]="1000"
        show-clear-button="always"
        clear-icon="trash-bin">
      </ion-searchbar>
    </div>

      <!-- Filtros -->
    <div class="col-span-6 flex items-center">
      <div class="filtro-input-container w-full h-full">
        <ion-accordion-group class="w-full search-look-group fixed-height-group">
          <ion-accordion value="first" class="filtros-acordeon w-full" toggleIcon="filter-circle-outline" toggleIconSlot="end">
            <!-- Header -->
            <ion-item class="header-no-style" slot="header">
              <ion-label>Filtros</ion-label>
            </ion-item>

            <!-- Contenido -->
            <div class="ion-no-padding contenido-filtros w-full" slot="content">

              <div class="grid grid-cols-1 mb-6">
                <div class="col-span-12 ">
                  <div class="selects-search-container">
                    <ion-list class="no-border-list">
                      <ion-item [button]="true" [detail]="false" class="no-border-list" id="select-estado" lines="none" (click)="onPresentEstado()" >
                        <ion-label>Estado</ion-label>
                        <div slot="end" id="selected-estado">{{ selectedEstadoNombre }}</div>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="col-span-12 ">
                  <div class="selects-search-container">
                    <ion-list class="no-border-list">
                      <ion-item [button]="true" [detail]="false" class="no-border-list" id="select-municipio" lines="none" (click)="onPresentMunicipio()" [disabled]="selectedEstadoId == '' || selectedEstadoId == undefined">
                        <ion-label>Municipio</ion-label>
                        <div slot="end" id="select-municipio">{{ selectedMunicipioNombre }}</div>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="col-span-12 ">
                  <div class="selects-search-container">
                    <ion-list class="no-border-list">
                      <ion-item [button]="true" [detail]="false" class="no-border-list" id="select-posicion" lines="none" (click)="onPresentPosicion()">
                        <ion-label>Posición</ion-label>
                        <div slot="end" id="select-posicion">{{ selectedPosicionNombre }}</div>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="col-span-12 ">
                  <div class="selects-search-container">
                    <ion-list class="no-border-list">
                      <ion-item [button]="true" [detail]="false" class="no-border-list" id="select-estatus" lines="none" (click)="onPresentEstatus()">
                        <ion-label>Estatus</ion-label>
                        <div slot="end" id="select-estatus">{{ selectedEstatusNombre }}</div>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="col-span-12 ">
                  <div class="selects-search-container">
                    <ion-list class="no-border-list">
                      <ion-item [button]="true" [detail]="false" class="no-border-list" id="select-sexo" lines="none" (click)="onPresentSexo()">
                        <ion-label>Género</ion-label>
                        <div slot="end" id="select-sexo">{{ selectedSexoNombre }}</div>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="col-span-12">
                  <div class="flex flex-row justify-end items-center mt-4">
                    <ion-icon class="text-2xl hover:cursor-pointer" (click)="reseteFiltrosDesktop()" name="refresh-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>

  </div>

  @if (existeFiltracion) {
    <div class="flex flex-row gap-4 items-center mb-6">
      <ion-label class="text-2xl font-bold" >Filtros Aplicados</ion-label>
      @for (filtro of allFiltrosAplicados; track $index) {
        <ion-chip class="capitalize p-2" color="warning">
          <ion-label>{{filtro.valor}}</ion-label>
          <ion-icon (click)="resetFiltrosDesktopByChips(filtro)" name="close"></ion-icon>
        </ion-chip>
      }
    </div>
  }

  <div class="grid grid-cols-12 mb-2 text-xl font-bold" matSort (matSortChange)="onSortMaterial($event)">
    <div class="col-span-4 justify-items-center hover:cursor-pointer" mat-sort-header="jugador">
      <ion-label (click)="sortBy('jugador')" >Jugador</ion-label>
    </div>
    <div class="col-span-2 justify-items-center hover:cursor-pointer" mat-sort-header="posicion">
      <ion-label (click)="sortBy('posicion')">Posición</ion-label>
    </div>
    <div class="col-span-2 justify-items-center hover:cursor-pointer" mat-sort-header="altura">
      <ion-label (click)="sortBy('altura')">Altura</ion-label>
    </div>
    <div class="col-span-1 justify-items-center hover:cursor-pointer" mat-sort-header="peso">
      <ion-label (click)="sortBy('peso')">Peso</ion-label>
    </div>
    <div class="col-span-2 justify-items-center hover:cursor-pointer" mat-sort-header="estatus">
      <ion-label (click)="sortBy('estatus')">Estatus</ion-label>
    </div>
  </div>

  @if (jugadoresDesktopPaginados.length === 0) {
    <h1 class="my-6">Upps nada coincide con tu busqueda...</h1>
    <div class="flex flex-row gap-4 items-center">
      <h2>Te recomendamos reiniciar los filtros</h2>
      <ion-icon class="text-2xl" name="arrow-forward-outline"></ion-icon>
      <ion-icon class="text-2xl hover:cursor-pointer animate-ping" (click)="reseteFiltrosDesktop()" name="refresh-outline"></ion-icon>
    </div>
  }

  @for (jugador of jugadoresDesktopPaginados; track jugador.informacionPersonalId) {
    <ion-card class="mb-3 capitalize">
      <ion-card-content>
        <div class="flex justify-end w-full">
            @if (jugador.interesado) {
              <ion-icon class="text-2xl hover:cursor-pointer" (click)="actualizaPerfilFavorito(jugador.informacionPersonalId, jugador)" name="star"></ion-icon>
            } @else {
              <ion-icon class="text-2xl hover:cursor-pointer" (click)="actualizaPerfilFavorito(jugador.informacionPersonalId, jugador)" name="star-outline"></ion-icon>
            }
           <ion-icon class="text-2xl hover:cursor-pointer" (click)="redirectPerfil(jugador.informacionPersonalId)" name="arrow-forward-outline"></ion-icon>
         </div>
        <div class="grid grid-cols-12 justify-items-center">
          <div class="col-span-4 justify-items-center">
            <div class="flex w-full">
              <div class="flex flex-row">
                <ion-avatar slot="start" class="jugador-avatar mt-2">
                  <img [src]="jugador.fotoPerfil || 'assets/images/generales/sin-foto.png'" alt="Foto de Perfil" />
                </ion-avatar>
                <ion-card-title class="pl-2">
                  {{ `${jugador.nombre} ` }} <strong>{{ `${jugador.alias} ` }}</strong><br>{{ `${jugador.aPaterno} ${jugador.aMaterno}` }} <br>
                  <span class="text-xs">{{ `${jugador.sexo}`}}</span> <br>
                  <span class="text-xs">{{ `${jugador.municipio}, ${jugador.estado}`}}</span>
                </ion-card-title>
              </div>
            </div>
          </div>
          <div class="col-span-2 justify-items-center">
            {{ `${jugador.posicionJuegoUno} | ${jugador.posicionJuegoDos}` }}
          </div>
          <div class="col-span-2 justify-items-center">
            {{ `${jugador.altura} mts` }}
          </div>
          <div class="col-span-1 justify-items-center">
            {{ `${jugador.peso} kg` }}
          </div>
          <div class="col-span-3 justify-items-center">
            <ion-chip class="p-2" color="success">{{ `${jugador.estatus}` }}</ion-chip>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  }

  <div class="mt-4 mb-6 flex justify-center ">
    <mat-paginator
      [length]="filteredDesktopJugadores.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="onPageChange($event)"
      class="!bg-white !rounded-lg"
    >
    </mat-paginator>
  </div>
}

<ion-modal #modalEstados cssClass="custom-modal-selects-search" backdropDismiss="false">
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Estados"
      [items]="allEstados"
      [selectedItem]="selectedEstadoId"
      (selectionChange)="estadoSelectionChanged($event)"
      (selectionCancel)="estadoCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>

<ion-modal #modalMunicipios cssClass="custom-modal-selects-search" backdropDismiss="false" >
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Municipio"
      [items]="allMunicipios"
      [selectedItem]="selectedMunicipioId"
      (selectionChange)="municipioSelectionChanged($event)"
      (selectionCancel)="municipioCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>

<ion-modal #modalPosiciones cssClass="custom-modal-selects-search" backdropDismiss="false" >
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Posición"
      [items]="allPosiciones"
      [selectedItem]="selectedMunicipioId"
      (selectionChange)="posicionSelectionChanged($event)"
      (selectionCancel)="posicionCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>

<ion-modal #modalEstatus cssClass="custom-modal-selects-search" backdropDismiss="false" >
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Estatus"
      [items]="allEstatusJugador"
      [selectedItem]="selectedEstatusId"
      (selectionChange)="estatusSelectionChanged($event)"
      (selectionCancel)="estatusCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>

<ion-modal #modalSexo cssClass="custom-modal-selects-search" backdropDismiss="false" >
  <ng-template>
    <app-select-list-search
      class="ion-page"
      title="Género"
      [items]="allSexo"
      [selectedItem]="selectedSexoId"
      (selectionChange)="sexoSelectionChanged($event)"
      (selectionCancel)="sexoCancel()"
    ></app-select-list-search>
  </ng-template>
</ion-modal>

<!-- <app-news-bar></app-news-bar> -->
