<ion-content [fullscreen]="true">
  <app-header-legal></app-header-legal>

  <div class="max-w-3xl mx-auto px-4">
    <h1 class="components-font !text-7xl font-bold text-center my-6">Acerca de</h1>
      <p class="leading-relaxed mb-6">
        HoopLink es una plataforma innovadora operada por Sport Forum, S.A.P.I. de C.V., diseñada
        para conectar talento deportivo con oportunidades académicas. Nuestro objetivo es brindar
        a jugadores de preparatoria y universidad la visibilidad que necesitan para destacar ante
        escuelas interesadas en su desempeño.<br><br>
        Creemos en el poder del deporte como motor de oportunidades...<br><br>
        <strong>Nuestra misión:</strong> Abrir puertas a los talentos deportivos, creando conexiones que
        transformen sueños en realidades.<br><br>
        <strong>Nuestra visión:</strong> Ser la herramienta líder en la promoción de atletas hacia el éxito
        académico y deportivo.<br><br>
        HoopLink está comprometido con la innovación, la transparencia y la accesibilidad,<br>
        brindando un entorno seguro y eficiente para todos sus usuarios.
      </p>
    </div>

  <app-footer></app-footer>
</ion-content>
