<ion-card class="mb-6">
  <ion-card-header class="m-4">
    <div class="flex justify-between  w-full">
      <ion-card-title class="text-3xl">Demostración</ion-card-title>

      <ion-icon (click)="openModalDemostracion()" class="animate-bounce text-5xl hover:cursor-pointer" style="color: #004e6d;" name="information-circle-outline"></ion-icon>
    </div>
  </ion-card-header>
  <ion-card-content>
    <div [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @if (cargandoData) {
        <app-skeleton style="height: 7rem; width: 100%;" ></app-skeleton>
        <app-skeleton style="height: 7rem; width: 100%;" ></app-skeleton>
        <app-skeleton style="height: 7rem; width: 100%;" ></app-skeleton>
        <app-skeleton style="height: 7rem; width: 100%;" ></app-skeleton>
        <app-skeleton style="height: 7rem; width: 100%;" ></app-skeleton>
      } @else {
        <app-video-uploader
            label="Botando"
            [errorMessage]="videoErrors['videoBotando']"
            (videoSelected)="form.get('videos.videoBotando')?.setValue($event)"
            (fileError)="handleVideoError('videoBotando', $event)"
            [videoUrl]="videoBotandoUrl"
            id="Botando"
            [isReadOnly]="isReadOnly"
        ></app-video-uploader>

        <app-video-uploader
          label="Tirando"
          [errorMessage]="videoErrors['videoTirando']"
          (videoSelected)="form.get('videos.videoTirando')?.setValue($event)"
          (fileError)="handleVideoError('videoTirando', $event)"
          [videoUrl]="videoTirandoUrl"
          id="Tirando"
          [isReadOnly]="isReadOnly"
        ></app-video-uploader>

        <app-video-uploader
          label="Colada"
          [errorMessage]="videoErrors['videoColada']"
          (videoSelected)="form.get('videos.videoColada')?.setValue($event)"
          (fileError)="handleVideoError('videoColada', $event)"
          [videoUrl]="videoColadaUrl"
          id="Colada"
          [isReadOnly]="isReadOnly"
        ></app-video-uploader>

        <app-video-uploader
          label="Entrenando"
          [errorMessage]="videoErrors['videoEntrenando']"
          (videoSelected)="form.get('videos.videoEntrenando')?.setValue($event)"
          (fileError)="handleVideoError('videoEntrenando', $event)"
          [videoUrl]="videoEntrenandoUrl"
          id="Entrenando"
          [isReadOnly]="isReadOnly"
        ></app-video-uploader>

        <app-video-uploader
          label="Jugando"
          [errorMessage]="videoErrors['videoJugando']"
          (videoSelected)="form.get('videos.videoJugando')?.setValue($event)"
          (fileError)="handleVideoError('videoJugando', $event)"
          [videoUrl]="videoJugandoUrl"
          id="Jugando"
          [isReadOnly]="isReadOnly"
        ></app-video-uploader>
      }
    </div>
  </ion-card-content>
</ion-card>

<ion-modal #modalDemostracion [isOpen]="false" cssClass="custom-modal-info-buttons">
  <ng-template>
    <ion-header>
      <ion-toolbar class="mx-2">
        <h1>Instrucciones.</h1>
        <ion-buttons slot="end">
          <ion-button (click)="closeModalDemostracion()">
            <ion-icon class="text-3xl" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ul class="list-disc mx-2 pl-4 my-2">
        <li class="text-xl marker:text-black">
          <span class="font-medium">Botando</span>
          <p class="text-base mt-1">
            Demuestra control del balón con ambas manos, a velocidad de juego.
            (No stationary dribbling eterno)
          </p>
        </li>
        <li class="text-xl marker:text-black">
          <span class="font-medium">Tirando</span>
          <p class="text-base mt-1">
            Muestra tu mecánica de tiro en ritmo y desde distintas zonas.
            (Catch & shoot o en movimiento)
          </p>
        </li>
        <li class="text-xl marker:text-black">
          <span class="font-medium">Colada</span>
          <p class="text-base mt-1">
            Ataques al aro en velocidad y finalización en tráfico.
            (Ambos lados del aro si es posible)
          </p>
        </li>
        <li class="text-xl marker:text-black">
          <span class="font-medium">Entrenando</span>
          <p class="text-base mt-1">
            Ejercicios de entrenamiento técnico o físico.
            (No highlights, trabajo real)
          </p>
        </li>
        <li class="text-xl marker:text-black">
          <span class="font-medium">Jugando</span>
          <p class="text-base mt-1">
            Fragmentos de juego real en competencia.
            (Sin música, sin edición exagerada)
          </p>
        </li>
      </ul>
    </ion-content>
  </ng-template>
</ion-modal>
