<div [formGroup]="form" class="my-4">
  @if (cargandoData) {
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-6">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-6">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
    </div>
  } @else {
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6 lg:col-span-6">
        <ion-textarea
              label="Objetivos"
              inputId="on_label_objetivos"
              formControlName='objetivos'
              autocomplete="off"
              placeholder="Ej: Lograr tiros de 3..."
              label-placement="floating"
              fill="outline"
              [autoGrow]="true"
            >
            </ion-textarea>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-6">
        <ion-textarea
              label="Valores"
              inputId="on_label_valores"
              formControlName='valores'
              autocomplete="off"
              placeholder="Ej: Siempre llegar temprano a entrenar..."
              label-placement="floating"
              fill="outline"
              [autoGrow]="true"
            >
            </ion-textarea>
      </div>
    </div>
  }
</div>
