<div [formGroup]="form" class="my-4">
  @if (cargandoData) {
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 md:col-span-6">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
      <div class="col-span-12 md:col-span-6">
        <app-skeleton style="height: 3rem;" ></app-skeleton>
      </div>
    </div>
  } @else {
    <ion-card class="mb-6">
      <ion-card-header class="m-4">
        <div class="flex justify-between  w-full">
          <ion-card-title class="text-3xl">Presencia Digital</ion-card-title>

          <ion-icon (click)="openModalPresencia()" class="animate-bounce text-5xl hover:cursor-pointer" style="color: #004e6d;" name="information-circle-outline"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="grid grid-cols-12 gap-4 mb-4">
          <div class="col-span-12 md:col-span-6">
            <ion-input
              label="Facebook"
              inputId="on_label_facebook"
              formControlName='facebook'
              autocomplete="off"
              placeholder="Ej: Pedro Pintado Marquez"
              label-placement="floating"
              fill="outline"
            >
            </ion-input>
          </div>
          <div class="col-span-12 md:col-span-6">
            <ion-input
              label="Instagram"
              inputId="on_label_instagram"
              formControlName='instagram'
              autocomplete="off"
              placeholder="Ej: Michael Jordan"
              label-placement="floating"
              fill="outline"
            >
            </ion-input>
          </div>
          <div class="col-span-12 md:col-span-6">
            <ion-input
              label="Tik Tok"
              inputId="on_label_tiktok"
              formControlName='tiktok'
              autocomplete="off"
              placeholder="Ej: Shaquille O'Neal"
              label-placement="floating"
              fill="outline"
            >
            </ion-input>
          </div>
          <div class="col-span-12 md:col-span-6">
            <ion-input
              label="Youtube"
              inputId="on_label_youtube"
              formControlName='youtube'
              autocomplete="off"
              placeholder="Ej: Kobe Bryant"
              label-placement="floating"
              fill="outline"
            >
            </ion-input>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  }
</div>

<ion-modal #modalPresencia [isOpen]="false" cssClass="custom-modal-info-buttons">
  <ng-template>
    <ion-header>
      <ion-toolbar class="mx-2">
        <h1>Instrucciones.</h1>
        <ion-buttons slot="end">
          <ion-button (click)="closeModalPresencia()">
            <ion-icon class="text-3xl" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-text>
        <p>Laboris pariatur et tempor fugiat excepteur non anim sint id veniam proident do deserunt incididunt. Labore ex sint deserunt consequat sit duis sunt ipsum elit Lorem velit. Officia qui fugiat amet pariatur cupidatat qui ullamco tempor tempor laborum. Quis do eu nulla aliqua ipsum mollit enim anim cupidatat proident excepteur. Est id amet anim et aute reprehenderit laborum deserunt Lorem do. Voluptate adipisicing duis adipisicing ea proident tempor veniam ut sunt.</p>
      </ion-text>
    </ion-content>
  </ng-template>
</ion-modal>
